<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Subsidios</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list">

      <label class="item item-input item-select">
        <div class="input-label">
          <a href="#">PCP</a>
        </div>
        <div class="input-label">
          <label>825</label>
        </div>
        <div class="input-label">
          <a href="#">Aplicado</a>
        </div>
      <!--  <select>
          <option>Blue</option>
          <option selected>Green</option>
          <option>Red</option>
        </select>-->
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          <a href="#">IPP</a>
        </div>
        <div class="input-label">
          <label>825</label>
        </div>
        <div class="input-label">
          <a href="#">Aplicado</a>
        </div>
      <!--  <select>
          <option>Blue</option>
          <option selected>Green</option>
          <option>Red</option>
        </select>-->
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          <a href="#">CNPE</a>
        </div>
        <div class="input-label">
          <label>825</label>
        </div>
        <div class="input-label">
          <a href="#">Aplicado</a>
        </div>
      <!--  <select>
          <option>Blue</option>
          <option selected>Green</option>
          <option>Red</option>
        </select>-->
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          <a href="#">SM</a>
        </div>
        <div class="input-label">
          <label>825</label>
        </div>
        <div class="input-label">
          <a href="#">Aplicado</a>
        </div>
      <!--  <select>
          <option>Blue</option>
          <option selected>Green</option>
          <option>Red</option>
        </select>-->
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          <a href="#">ILAE</a>
        </div>
        <div class="input-label">
          <label>600</label>
        </div>
        <div class="input-label">
          <a href="#">Aplicado</a>
        </div>
      <!--  <select>
          <option>Blue</option>
          <option selected>Green</option>
          <option>Red</option>
        </select>-->
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          <a href="#">BGH</a>
        </div>
        <div class="input-label">
          <label>228</label>
        </div>
        <div class="input-label">
          <a href="#">Aplicado</a>
        </div>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          <a href="#">IES</a>
        </div>
        <div class="input-label">
          <label>825</label>
        </div>
        <div class="input-label">
          <a href="#">Aplicado</a>
        </div>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          <a href="#">BGC</a>
        </div>
        <div class="input-label">
          <label>3420</label>
        </div>
        <div class="input-label">
          <a href="#">Aplicado</a>
        </div>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          <a href="#">BL</a>
        </div>
        <div class="input-label">
          <label>825</label>
        </div>
        <div class="input-label">
          <a href="#">Aplicado</a>
        </div>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          <a href="#">IAMG</a>
        </div>
        <div class="input-label">
          <label>825</label>
        </div>
        <div class="input-label">
          <a href="#">Aplicado</a>
        </div>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          <a href="#">BEEP</a>
        </div>
        <div class="input-label">
          <label>2,225</label>
        </div>
        <div class="input-label">
          <a href="#">Aplicado</a>
        </div>
      </label>

    </div>
  </ion-content>
</ion-modal-view>
