<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>ADESS Banking Mobile - Contacto</title>

        <!-- Material Design fonts -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


        <link rel="stylesheet" href="css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
    
    </head>
    <body>

<!-- Nav tabs -->
<ul class="nav nav-tabs tabs-3 dark-color" role="tablist">
    <li class="nav-item">
     <a class="nav-link md-20"  href="index.html"><i class="fa fa-arrow-left" aria-hidden="true"></i>   Contacto</a>
    </li>
</ul>
<img src="images/adess_top.JPG" class="img-fluid" alt="Responsive image">
<ul class="nav nav-tabs tabs-3 dark-color" role="tablist">
    <li class="nav-item">
     <a class="nav-link md-14"  href="#">Dirección</a>
    </li>
</ul>
<div class="container">
    <p class="md-14 white-color margin-10">
        Edif. ADESS, Ave. Gustavo Mejia Ricart #141,<br> 
        Ensanche Julieta (Código Postal: 10130)<br>
        Distrito Nacional, República Dominicana.
    </p>
</div>

<ul class="nav nav-tabs tabs-3 dark-color" role="tablist">
    <li class="nav-item">
     <a class="nav-link md-14"  href="#">Teléfono</a>
    </li>
</ul>
<div class="container">
    <p class="md-14 white-color margin-10">
        809-565-0009
    </p>
</div>

<ul class="nav nav-tabs tabs-3 dark-color" role="tablist">
    <li class="nav-item">
     <a class="nav-link md-14"  href="#">Centro de Atención al Beneficiario</a>
    </li>
</ul>
<ul class="nav nav-tabs tabs-3 dark-color" role="tablist">
    <li class="nav-item">
     <a class="nav-link md-14 subtitle"  href="#">Teléfono - <i>Santo Domingo y Distrito Nacional</i></a>
    </li>
</ul>
<div class="container">
    <p class="md-14 white-color margin-10">
        809-920-2081
    </p>
</div>
<ul class="nav nav-tabs tabs-3 dark-color" role="tablist">
    <li class="nav-item">
     <a class="nav-link md-14 subtitle"  href="#">Teléfono - <i>Desde el interior sin cargos</i></a>
    </li>
</ul>
<div class="container">
    <p class="md-14 white-color margin-10">
        1-809-200-0063/0064
    </p>
</div>



















<!--Footer-->
<footer class="page-footer center-on-small-only">

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2017 Copyright: <a href="https://www.adess.gob.do"> Administrados de Subsidios Sociales</a>

        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->




       <script src="js/jquery-1.10.2.min.js"></script> 
        <script src="js/bootstrap.min.js"></script>
        <script src="js/ripples.min.js"></script>
        <script src="js/material.min.js"></script>
        <script src="js/mdb.min.js"></script>
        <script>
            $.material.init();
        </script>
    </body>
</html>